body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  overflow: hidden;
}

#app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.editor-container {
  width: 50%;
  min-width: 100px;
  max-width: 90vw;
  height: 100%;
  resize: horizontal;
  overflow: auto;
  border-right: 2px solid #333;
}

.editor-container::-webkit-resizer {
  background-color: #444;
}

.preview-container {
  flex: 1;
  height: 100%;
  background-color: #1e1e1e;
  overflow: auto;
  padding: 20px;
}