body {
  margin: 0;
  padding: 0;
  background-color: #0d0d0d;
  color: #ffffff;
  overflow: hidden;
}

#app-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.editor-container {
  height: 100%;
  overflow: hidden;
}

.resizer {
  width: 4px;
  cursor: col-resize;
  background-color: #333;
  transition: background-color 0.2s, width 0.2s;
  z-index: 10;
}

.resizer:hover,
.resizer:active {
  background-color: #007acc;
}

.preview-container {
  flex: 1;
  height: 100%;
  background-color: #1e1e1e;
  overflow: hidden;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.preview-container.resizing iframe {
  pointer-events: none;
}

.preview-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  background-color: white;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 2px;
  background-color: #323232;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.toolbar button {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}